In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
def replace_last_directory(path, new_directory):
    return "\\".join(path.split("\\")[:-1] + [new_directory])

pwd = os.getcwd()
new_pwd = replace_last_directory(pwd, "data"); new_pwd

'c:\\Users\\tsello01\\Documents\\Scripts\\data'

In [3]:
dataset = pd.read_csv(f"{new_pwd}\\TigerSA_KitKat_WE_20230409.txt", delimiter='|')
df = pd.DataFrame(dataset)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19230 entries, 0 to 19229
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EndDate            19230 non-null  object
 1   StartDate          19229 non-null  object
 2   BranchCode         19229 non-null  float64
 3   BranchName         19229 non-null  object
 4   BranchChannel      19229 non-null  object
 5   BranchSubCategory  16798 non-null  float64
 6   SupplierCode       19229 non-null  object
 7   SupplierName       19229 non-null  object
 8   ProductCode        19229 non-null  object
 9   LinkCode           14485 non-null  object
 10  ProductName        19229 non-null  object
 11  Barcode            19221 non-null  object
 12  Units              19229 non-null  float64
 13  Food               19229 non-null  object
 14  Status             19229 non-null  object
 15  HeadGroup          19229 non-null  object
 16  SuperGroupName     19224 non-null  object
 17  CategoryName       19227 non-null  object
 18  SubCategoryName    19229 non-null  object
 19  BrandName          19229 non-null  object
 20  ProductGroupName   19229 non-null  object
 21  Quantity           19229 non-null  float64
 22  ValueExcl          19229 non-null  float64
 23  LoadDate           19229 non-null  object
 24  SubCategoryCode    19229 non-null  float64
 25  IsDelta            19229 non-null  float64
dtypes: float64(7), object(19)
memory usage: 3.8+ MB

In [4]:
columns = ['Barcode', 'ProductName']

def unusual_barcodes(df, columns):
    barcode_column = "Barcode"
    if barcode_column not in columns:
        raise ValueError(f"{barcode_column} column not found in DataFrame")
    unusual_barcodes = df[barcode_column][df[barcode_column].astype(str).str.contains('..')]
    unusual_df = df[df[barcode_column].isin(unusual_barcodes)]
    return unusual_df[columns]

unusual = unusual_barcodes(df, columns); unusual

             Barcode                            ProductName
0      6001280500116             JEYES FLUID  500ML  UNIT-1
1      6001280500116             JEYES FLUID  500ML  UNIT-1
2      6001280501397             JEYES FLUID  500ML  PACK-6
3      6001280501397             JEYES FLUID  500ML  PACK-6
4      6001206413681          DOOM 300ML SUPER GREEN UNIT-1
...              ...                                    ...
19225  6001299046667    TROPIKA EAZY 1LT MANGO PEACH PACK-6
19226  6004101010139  MAMA'S SAUCES 2LT TOMATO SAUCE UNIT-1
19227  6004101010139  MAMA'S SAUCES 2LT TOMATO SAUCE UNIT-1
19228  6004101010146  MAMA'S SAUCES 5LT TOMATO SAUCE UNIT-1
19229            NaN                                    NaN

[19228 rows x 2 columns]

In [5]:
unique_barcodes_df = unusual[['Barcode', 'ProductName']].drop_duplicates(); unique_barcodes_df

              Barcode                              ProductName
0       6001280500116               JEYES FLUID  500ML  UNIT-1
2       6001280501397               JEYES FLUID  500ML  PACK-6
4       6001206413681            DOOM 300ML SUPER GREEN UNIT-1
6      16001206413688            DOOM 300ML SUPER GREEN PACK-6
8       6009523600203            DOOM BLUE DEATH 100G   UNIT-1
...               ...                                      ...
19170   8714789762876   SANEX R/ON FEMALE INVISIBLE DRY UNIT-1
19175  48714789074311          SANEX R/ON MEN SENSITIVE PACK-6
19188   3607347415589  ADIDAS ROLL ON 50ML FRESH LADIES UNIT-1
19224   6001299046667      TROPIKA EAZY 1LT MANGO PEACH PACK-6
19229             NaN                                      NaN

[4177 rows x 2 columns]

In [6]:
unusual.to_excel("C:\\Users\\tsello01\\Documents\\Data\\unusual_barcodes.xlsx", index=False)