In [1]:
import pandas as pd

In [2]:
def read_large_file(file_path):
    chunk_size = 1_000_000 
    df = pd.concat(pd.read_csv(file_path, chunksize=chunk_size))
    return df

In [3]:
file_path = r'R:\RawData\Engen\EngenWeekly\\SynovateData20230727.csv'
df = read_large_file(file_path)

In [4]:
df.shape

(1851548, 17)

In [5]:
df.columns

Index(['7FRF', 'GLENHAZEL SERVICE STATION', 'Gauteng Central', 'Quick Shop',
       'EA', 'Haribo', '                   0', '                0.00',
       '20230711', 'Confectionery', 'Pre-Packs', '42238832329',
       'Haribo 150gm Cola Bottles', 'Unnamed: 13', '                0.00.1',
       '                0.00.2', '20230712'],
      dtype='object')

In [8]:
last_column = df.iloc[:, -1]

value_counts = last_column.value_counts().sort_index()
pd.DataFrame({'Dates': value_counts.index, 'Counts': value_counts.values})

      Dates  Counts
0  20230710  537413
1  20230711  245990
2  20230712  285972
3  20230713  243801
4  20230714  258343
5  20230715    8944
6  20230716  271085

In [19]:
20230723 in value_counts.index

False