In [18]:
import pandas as pd

In [13]:
def read_large_file(file_path):
    chunk_size = 1_000_000 
    df = pd.concat(pd.read_csv(file_path, chunksize=chunk_size))
    return df

In [14]:
file_path = r'R:\RawData\Engen\EngenWeekly\\File Comparisons\\SynovateData20230720.csv'
df = read_large_file(file_path)

In [15]:
df.shape

(2021222, 17)

In [6]:
df.columns

Index(['8CWG', 'SIYABONGA CONVENIENCE CENTRE', 'Gauteng South West',
       'Corner Bakery', 'EA', 'Bakery', '                  32',
       '             1252.16', '20230704', 'Corner Bakery.1',
       'Site Specific - Corn', '8274', 'Rb: Site Specific 3', 'Unnamed: 13',
       '                7.36', '             1244.80', '20230705'],
      dtype='object')

In [25]:
last_column = df.iloc[:, -1]

value_counts = last_column.value_counts().sort_index()
pd.DataFrame({'Dates': value_counts.index, 'Counts': value_counts.values})

      Dates  Counts
0  20230703  585103
1  20230704  266036
2  20230705  273739
3  20230706  298028
4  20230707  290887
5  20230709  307429

In [8]:
'20230716' in list(last_column.values)

False